@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.wholescreennotes{
  height: calc(100% - 50px);
}
.organize-menu{
  display: flex;
  text-align: center;
  margin-left: -80%;
  width: 20%;
  color: #7BED0A;
}